<div>
    <h2>
        <span>Time Sheets</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="nomeSearch" id="nomeSearch" name="nomeSearch" placeholder="nome">
                    <input type="text" class="form-control" [(ngModel)]="tarefaSearch" id="tarefaSearch" name="tarefaSearch" placeholder="tarefa">
                    <input type="date" class="form-control" [(ngModel)]="dataInicioSearch" id="dataInicioSearch" name="dataInicioSearch" placeholder="data início">
                    <input type="date" class="form-control" [(ngModel)]="dataFimSearch" id="dataFimSearch" name="dataFimSearch" placeholder="data fim">

                    <button class="btn btn-info" (click)="search(nomeSearch, tarefaSearch, dataInicioSearch, dataFimSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn btn-danger" (click)="clear()" *ngIf="nomeSearch || tarefaSearch || dataInicioSearch || dataFimSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <div class="table-responsive" *ngIf="timeSheets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span>Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tarefa"><span>Tarefa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descricaofase"><span>Fase</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descricaoatividade"><span>Atividade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="data"><span>Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observacao"><span>Observacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horas"><span>Horas</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeSheet of timeSheets ;trackBy: trackId">
                <td>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'time-sheet/'+ timeSheet.id + '/view'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">{{timeSheet.id}}
                    </button>
                <td>#{{timeSheet.matricula}} - {{timeSheet.nome}}</td>
                <td>{{timeSheet.tarefa}} - {{timeSheet.descricao}}</td>
                <td>{{timeSheet.codigofase}} - {{timeSheet.descricaofase}}</td>
                <td>{{timeSheet.codigoatividade}} - {{timeSheet.descricaoatividade}}</td>
                <td>{{timeSheet.data | date:'mediumDate'}}</td>
                <td>{{timeSheet.observacao}}</td>
                <td>{{timeSheet.horas}}</td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="timeSheets && timeSheets.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
