<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTimeSheetLabel">Time Sheet #{{timeSheet.id}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group" [hidden]="!timeSheet.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="timeSheet.id" readonly />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="form-control-label" for="field_data">Data</label>
                    <input type="text" class="form-control" name="data" id="field_data" ngbDatepicker  #dataDp="ngbDatepicker"
                           [(ngModel)]="timeSheet.data" readonly />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-control-label" for="field_horas">Horas</label>
                    <input type="text" class="form-control" name="horas" id="field_horas"
                           [(ngModel)]="timeSheet.horas" readonly/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_matricula">Matricula</label>
                    <input type="number" class="form-control" name="matricula" id="field_matricula"
                        [(ngModel)]="timeSheet.matricula" readonly />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="timeSheet.nome" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_tarefa">Tarefa</label>
                    <input type="number" class="form-control" name="tarefa" id="field_tarefa"
                        [(ngModel)]="timeSheet.tarefa" readonly />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <label class="form-control-label" for="field_descricao">Descrição</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="timeSheet.descricao" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_codigofase">Código fase</label>
                    <input type="number" class="form-control" name="codigofase" id="field_codigofase"
                        [(ngModel)]="timeSheet.codigofase" readonly />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <label class="form-control-label" for="field_descricaofase">Descrição fase</label>
                    <input type="text" class="form-control" name="descricaofase" id="field_descricaofase"
                        [(ngModel)]="timeSheet.descricaofase" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_codigoatividade">Código atividade</label>
                    <input type="number" class="form-control" name="codigoatividade" id="field_codigoatividade"
                        [(ngModel)]="timeSheet.codigoatividade" readonly />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <label class="form-control-label" for="field_descricaoatividade">Descrição atividade</label>
                    <input type="text" class="form-control" name="descricaoatividade" id="field_descricaoatividade"
                        [(ngModel)]="timeSheet.descricaoatividade" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_observacao">Observação</label>
            <input type="text" class="form-control" name="observacao" id="field_observacao"
                [(ngModel)]="timeSheet.observacao" readonly/>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_datainclusao">Data inclusão</label>
                    <div class="input-group">
                        <input id="field_datainclusao" type="text" class="form-control" name="datainclusao" ngbDatepicker  #datainclusaoDp="ngbDatepicker" [(ngModel)]="timeSheet.datainclusao"
                               readonly/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_dataultimaatualizacao">Data última atualização</label>
                    <div class="input-group">
                        <input id="field_dataultimaatualizacao" type="text" class="form-control" name="dataultimaatualizacao" ngbDatepicker  #dataultimaatualizacaoDp="ngbDatepicker" [(ngModel)]="timeSheet.dataultimaatualizacao"
                               readonly/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
